<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366363474303-sdf62hmn1olkrvbin8i0d4atqhat278v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366363474303-sdf62hmn1olkrvbin8i0d4atqhat278v</string>
	<key>API_KEY</key>
	<string>AIzaSyCKpHIWJs2TtJ2kBaq5sdSHpcIAN61NKVc</string>
	<key>GCM_SENDER_ID</key>
	<string>366363474303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalroject</string>
	<key>PROJECT_ID</key>
	<string>productapp-80228</string>
	<key>STORAGE_BUCKET</key>
	<string>productapp-80228.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366363474303:ios:4cf15aced473c59f95824a</string>
	<key>DATABASE_URL</key>
	<string>https://productapp-80228.firebaseio.com</string>
</dict>
</plist>